<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourmasters Venues</title>
</head>
<body>
    <section id="hello">
        <h1>Venues</h1>
        New Venues
        <ul>
            {{#each venues}}
            <li>ID: <a href="/venues/{{ this.id }}">{{ this.id }}</a></li>
            <li>Name: {{ this.name }}</li>
            {{else}}
            <p> No venues yet</p>
            {{/each}}
        </ul>
    </section>
</body>
</html>
